{% extends 'base.html' %}
{% block head %}
    <style>
        .led-green {
            background-color: #6fbf73;
        }

        .led-red {
            background-color: #ff6666;
        }

        .widget {
            background-color: #f5f7fb;
            border-radius: 10px;
        }
        tr.fault{
            background-color: #ff6666;
        }
        #widgetGraph {
        {#height: 11rem;#}
        }
    </style>
{% endblock %}
{% block body %}
    {#    <nav class="navbar navbar-expand-lg navbar-dark py-4">#}
    {#        <div class="container">#}
    {#            <span class="navbar-brand">Mechanical</span>#}
    {#        </div>#}
    {#    </nav>#}

    <div class="container mt-4">
        <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked />
  <label class="form-check-label" for="flexSwitchCheckChecked">Show Fault</label>
</div>
        <div class="card widget">
            <div class="card-body">
                <div class="d-flex align-items-center mb-4">
                    <h5 class="text-xl fw-bold text-uppercase" id="equipment-name">Equipment Name</h5>

                    <div class="equipment-status-circle rounded-circle me-2" style="width: 10px; height: 10px;"></div>
                </div>
                <div id="chart-container-parent" class="mt-4 border border-2 border-gray-200" style="width: 300px; height: 350px">
                    <h1 style="text-align: center;">PAC</h1>

                    <div id="chart-container" style="width: 300px; height: 300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="equipmentModal" tabindex="-1" role="dialog" aria-labelledby="equipmentModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="equipmentModalLabel">Equipment Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Equipment</th>
                            <th scope="col">Status</th>
                            <th scope="col">Dirty Filter Alarm</th>
                            <th scope="col">Fan Speed</th>
                            <th scope="col">SA Temperature</th>
                            <th scope="col">Last Updated</th>
                        </tr>
                        </thead>
                        <tbody id="equipmentTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block footer %}
    <script>
    let api_data;
        async function fetchData() {
            try {
                const response = await fetch(`/mechanical/PAC/${+document.getElementById('flexSwitchCheckChecked').checked}`);
                const data = await response.json();
                return data;
            } catch (error) {
                console.error('Error fetching data:', error);
                return null;
            }
        }

        // Function to populate the table inside the modal
        function populateTable(data) {
            const tableBody = document.getElementById('equipmentTableBody');
            tableBody.innerHTML = '';
            data.forEach(item => {
                const row = document.createElement('tr');
                const nameCell = document.createElement('td');
                nameCell.textContent = item.Equipment;
                const statusCell = document.createElement('td');
                statusCell.textContent = item.Status ? 'Running' : 'Stopped';
                const faultCell = document.createElement('td');
                faultCell.textContent = item.Fault ? 'Alarm': 'Normal';

                if(item.Fault){
                    row.classList.add('table-danger');
                }else if(item.Status == 0){
                    row.classList.add('not-running');
                }
                row.appendChild(nameCell);
                row.appendChild(statusCell);
                row.appendChild(faultCell);
                const fanSpeed = document.createElement('td');
                fanSpeed.textContent = item['Fan Speed'];
                row.appendChild(fanSpeed);

               const saTemperature = document.createElement('td');
                saTemperature.textContent = item['SA Temperature'];
                row.appendChild(saTemperature);

               const lastUpdated = document.createElement('td');
                lastUpdated.textContent = item['Last Updated'];
                row.appendChild(lastUpdated);



                tableBody.appendChild(row);
            });
        }
function populateData() {
                // Here you would make your AJAX call to fetch the equipment details
                // For this example, we use the sample data
                populateTable(api_data);

                // Show the modal
                $('#equipmentModal').modal('show');
            };
        function generateChartOptions(data) {
            let runningCount = 0;
            let stoppedCount = 0;
            let faultCount = 0;

            // Calculate counts
            data.forEach(item => {
                if (item.Status === 1) {
                    runningCount++;
                } else if (item.Status === 0 && item.Fault === 0) {
                    stoppedCount++;
                } else if (item.Fault === 1) {
                    faultCount++;
                }
            });
            let status = faultCount > 0 ? 'Fault' : 'Running';
            // Generate options
            let options = {
                title: {
                    text: `${runningCount}/${data.length}\n${status}`,
                    left: 'center',
                    top: 'middle',
                    textStyle: {
                        color: '#333',
                        fontSize: 20,
                        fontFamily: 'sans-serif',
                    }
                },
                series: [
                    {
                        type: 'pie',
                        data: [
                            {value: runningCount, name: 'Running', itemStyle: {color: '#6B92C9'}},
                            {value: stoppedCount, name: 'Stopped', itemStyle: {color: '#D1D1D1'}},
                            {value: faultCount, name: 'Fault', itemStyle: {color: '#FF6E4C'}}
                        ],
                        radius: ['70%', '80%'],
                        label: {
                            show: false
                        },
                        emphasis: {
                            label: {
                                show: false
                            }
                        }
                    }
                ]
            };

            // Add red shadow if fault count is greater than zero
            // if (faultCount > 0) {
            //     options.series[0].itemStyle = {
            //         shadowColor: 'red',
            //         shadowBlur: 10
            //     };
            //     options.title.text = `Fault: ${faultCount}/${data.length}`;
            // }
            if (faultCount > 0) {
                document.getElementById('chart-container-parent').style.boxShadow = '0px 0px 10px red';
                document.querySelector('.equipment-status-circle').classList.remove('led-green');
                document.querySelector('.equipment-status-circle').classList.add('led-red');
            } else {
                document.getElementById('chart-container-parent').style.boxShadow = '';
                document.querySelector('.equipment-status-circle').classList.remove('led-red');
                document.querySelector('.equipment-status-circle').classList.add('led-green');
            }

            return options;
        }

        // Fetch data and generate chart options
        const runner = setInterval(() => {
        fetchData()
            .then(data => {
                api_data = data;
                const chartOptions = generateChartOptions(data);
                // Now you can use chartOptions to render the ECharts donut chart
                const chartContainer = document.getElementById('chart-container');
                document.getElementById('equipment-name').innerHTML = 'Mechanical'
                // Initialize ECharts instance
                const chart = echarts.init(chartContainer);

                // Set chart options
                chart.setOption(chartOptions);
document.getElementById('chart-container').removeEventListener('click', populateData);
document.getElementById('chart-container').addEventListener('click', populateData);
            })
            .catch(error => console.error('Error:', error));

        }, 3000)

        document.addEventListener("DOMContentLoaded", function () {


            $('[data-dismiss="modal"]').click(() => $('#equipmentModal').modal('hide'));
        });
    </script>
{% endblock %}